<!-- FORMULÁRIO DE NOVO PRODUTO -->
<div *ngIf="clientAction?.event?.action === addClientAction">
    <form [formGroup]="addClientForm" (ngSubmit)="handleSubmitAddClient()">
      <div class="card flex flex-column md:flex-column gap-3">
        <!-- Nome do produto -->
        <input pInputText placeholder="Nome" formControlName="nome" />
        <input pInputText placeholder="cnpj" formControlName="cnpj" />
        <!-- Razão Social -->
        <input pInputText placeholder="Razão Social" formControlName="razaoSocial" />
        <!-- Descrição do produto -->
        <input pInputText placeholder="Endereco" formControlName="endereco" />
        <!-- Quantidade do projetos -->
        <input pInputText placeholder="Quantidade De Projetos" formControlName="quantidadeProjetos" />
 <!-- Quantidade do pessoas -->
        <input pInputText placeholder="Quantidade De Pessoas" formControlName="quantidadePessoas" />
 <!-- Uf -->
        <input pInputText placeholder="uf" formControlName="uf" />
 <!-- Cep -->
        <input pInputText placeholder="cep" formControlName="cep" />
 <!-- Cidade -->
        <input pInputText placeholder="cidade" formControlName="cidade" />
  
        <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
          <p-button
          [disabled]="!addClientForm.valid"
          type="submit"
          label="Concluir"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
  
  <!-- FORMULÁRIO DE EDITAR Cliente-->
  <div *ngIf="clientAction?.event?.action === editClientAction">
  <form [formGroup]="editClientForm" (ngSubmit)="handleSubmitEditClient()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Id" formControlName="id" />
      <input pInputText placeholder="Nome" formControlName="nome" />
      <input pInputText placeholder="Cnpj" formControlName="cnpj" />
      <input pInputText placeholder="Endereco" formControlName="endereco" />
      <input pInputText placeholder="Razão Social" formControlName="razaoSocial" />
      <input pInputText placeholder="Quantidade de Projetos" formControlName="quantidadeDeProjetos" />
      <input pInputText placeholder="Quantida de DePessoas" formControlName="quantidadeDePessoas" />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!editClientForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>